
.background{
    -fx-background-color: rgb(94,0,6);

}

.vbox_foreground{
    -fx-background-color: rgb(249,238,225);

}

.hover_Button{
    -fx-background-color: D35832;
}

.hover_Button:hover{
    -fx-background-color: #362b2b;
}

.table-view {
     -fx-background-color: transparent;
     -fx-font-size: 14px;
 }

 .table-view .column-header-background {
     -fx-background-color: rgb(94,0,6);
 }

 .table-view .column-header {
     /* The individual header buttons */
     -fx-background-color: transparent;
     -fx-size: 40px;
     -fx-border-color: #353b48;
 }

 .table-view .column-header .label {
     -fx-text-fill: white;
     -fx-font-weight: bold;
     -fx-alignment: CENTER_LEFT;
 }

 .table-row-cell {
     -fx-background-color: white;
     -fx-border-color: #f5f6fa;
 }

 .table-row-cell:odd {
     -fx-background-color: #f1f2f6;
 }


 .table-row-cell:hover {
     -fx-background-color: #dfe4ea;
 }


 .table-row-cell:selected {
     -fx-background-color: #3498db;
 }

 .table-row-cell:selected .text {
     -fx-fill: white;
 }

 .table-cell {
     -fx-padding: 10px;
     -fx-alignment: CENTER_LEFT;
 }

 .remove-button {
    -fx-background-color: #ff4d4d;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 5px 15px;
    -fx-cursor: hand;
 }

 .remove-button:hover {
    -fx-background-color: #ff6666;
 }


 .remove-button:pressed {
    -fx-background-color: #cc0000;
 }
