.background{
    -fx-background-image:url("../../assets/LoginBG.png");

}

.vbox_background_right{
    -fx-background-color: rgb(249,238,225);;
}

.hover_Button{
    -fx-background-color: #5e0006;
}

.hover_Button:hover{
    -fx-background-color: #362b2b;
}
